{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-unresolved": 0,
        "import/prefer-default-export": 0
    },
    "env": {
	    "jest": true
	},
    "globals": {
	    "document": true
	}
}